$rounding: 15px;

#greeting-wrapper {
	width: 100vw;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	overflow-y: scroll;

	#greeting {
		width: 85%;
		height: 85%;
		border-radius: $rounding;
		background-color: #ffffff;
		box-shadow: 0 0 5px #000000;
		text-align: center;
		font-family: 'Lato', sans-serif;

		#greeting-image {
			width: 100%;
			height: 35%;
			border-radius: $rounding $rounding 0 0;
			background: url("gfx/bikes.jpg") 50% 50% / cover no-repeat;
		}

		h1 {
			margin: 10px;
			padding: 0;
		}

		p {
			margin: 0;
			padding: 10px 20px 0px 20px;
			font-size: 13px;
		}

		a {
			text-decoration: underline;
			color: #000000;
		}

		button {
			margin-top: 25px;
			margin-left: auto;
			margin-right: auto;
			padding: 5px 30px;
			border-radius: 5px;
			text-transform: uppercase;
			background-color: #0099ff;
			border-color: #0099ff;
			color: #ffffff;
			text-shadow: 1px 1px 1px #000000;
		}
	}

	@media (min-width: 550px) {
		#greeting {
			width: 400px;
			height: 600px;
		}
	}
}
