@import "bubble";
@import "greeting";

html, body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

#map {
	width: 100vw;
	height: 100vh;
}

#user-locator {
	position: fixed;
	right: 20px;
	top: 20px;
	z-index: 100;
}

#greeting-dialog-opener {
	position: fixed;
	left: 20px;
	top: 20px;
	z-index: 100;
}

.button {
	width: 35px;
	height: 35px;
}

@media (min-width: 550px) {
	.button {
		width: 40px;
		height: 40px;
	}
}

.hidden {
	display: none !important;
}
